* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
#container  {
    background-color: #f8f8f8;
    width: 1100px;
    margin: auto;
}
h1 {
    padding-top: 10px;
    text-align: center;
    color: #150275;
    font-size: 28px;
}
h3  {
    width: 940px;
    margin: auto;
    margin-top: 20px;
    color: #150275;
}
.output  {
    position: absolute;
    left: 540px;
    top: 40px;
    height: calc(100% - 80px);
    width: 330px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    background-color: white;
    font-size: 18px;
}
pre  {
    font-family: 'Droid Sans Mono', sans-serif;
}
.code  {
    width: 900px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(255, 200, 64, 0.55);
    border-radius: 5px;
    position: relative;
    font-size: 13px;
}
button  {
    padding: 0 4px;
    position: absolute;
    left: 10px;
    top: 10px;
}
#clear1,#clear2,#clear3  {
    left: 481px;
    display: none;
}
.border  {
    position: absolute;
    left: 470px;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid rgba(255, 200, 64, 0.55);
}