#myForm  {
    float: left;
    text-align: right;
}
#myForm label  {
    display: block;
    margin-bottom: 5px;
}
#myForm input  {
    margin-left: 5px;
    text-align: center;
}
#progressbar  {
    margin-bottom: 5px;
    height: 10px;
}
.ui-progressbar .ui-progressbar-value  {
    background: gold;
}
.ui-dialog .ui-dialog-titlebar  {
    background: #519fe8;
}
